@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noto Sans 400";
    font-weight: 400;
    font-style: normal;
    src: url("./assets/Noto-Sans-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Noto Sans 700";
    font-weight: 700;
    font-style: normal;
    src: url("./assets/Noto-Sans-700.woff2") format("woff2");
}
@font-face {
    font-family: "Noto Sans Italic";
    font-weight: 400;
    font-style: italic;
    src: url("./assets/Noto-Sans-italic.woff2") format("woff2");
}

:root {
    font-family: 'Noto Sans 400';
}